    .syntax unified
    .arch armv7-m

    .text
    .thumb

{% for s, actname in sym_names.items() %}
    .thumb_func
    .align 1
    .globl {{s}}
    .type {{s}}, %function
    .extern {{actname}}
    .type {{actname}}, %function
{{s}}:
    push    {r9, lr}
    push    {r0, r1}
    ldr     r1, .L1{{s}}
    mov     r0, pc
    blx     r1
    mov     r9, r0
    pop     {r0, r1}
    bl      {{actname}}
    pop     {r9, pc}

.L1{{s}}:
    .word   0
    .size   {{s}}, . - {{s}}
{% endfor %}

    .end
